.wrapper {
	width: 960px;
	margin: 0 auto;
}
.wrapper h1 {
	border-bottom: solid 1px #666;
	padding: 0 0 15px 10px;
}
article {
	padding: 0 10px;
	border-top: solid 1px #CCC;
}
article.first {
	border-top: none;
}
article aside {
	float: right;
	padding: 5px 0 0;
}
.header-nav {
	float: right;
	padding: 10px 10px 0 0;
}
.articles {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}
.articles .article-check {
	width: 25px;
}
.articles td {
	padding: 3px;
}
.articles tbody tr td {
	border-bottom: solid 1px #CCC;
}
.articles tfoot td {
	padding: 10px 10px 0 0;
}
.articles thead td {
	border-bottom: solid 1px #666;
}
.pagination {
}
.pagination ul {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: top;
	list-style: none;
	padding: 0;
	margin: 0 0 0 10px;
}
.pagination ul li {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: top;
	margin-left: 3px;
}
.pagination ul li a, .pagination ul li span {
	display: block;
	border: solid 1px #CCC;
	padding: 1px 3px;
	font-size: 0.8em;
}
.pagination ul li a:hover, .pagination ul li span {
	background: #CCC;
	color: #FFF;
}